pipeline/API Pipeline.json
{
	"name": "API Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "vincodes",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": "@concat('https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValues/',item().VIN_CODES,'?format=json')"
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_INSERT_VIN_DETAILS]",
								"storedProcedureParameters": {
									"BODY_CLASS": {
										"value": {
											"value": "@activity('Web1').output.Results[0].BodyClass",
											"type": "Expression"
										},
										"type": "String"
									},
									"INSERTED_TIMESTAMP": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"MAKE": {
										"value": {
											"value": "@activity('Web1').output.Results[0].Make",
											"type": "Expression"
										},
										"type": "String"
									},
									"MANUFACTURER": {
										"value": {
											"value": "@activity('Web1').output.Results[0].Manufacturer",
											"type": "Expression"
										},
										"type": "String"
									},
									"MODEL": {
										"value": {
											"value": "@activity('Web1').output.Results[0].Model",
											"type": "Expression"
										},
										"type": "String"
									},
									"MODEL_YEAR": {
										"value": {
											"value": "@activity('Web1').output.Results[0].ModelYear",
											"type": "Expression"
										},
										"type": "String"
									},
									"VIN_CODE": {
										"value": {
											"value": "@activity('Web1').output.Results[0].VIN",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}